.login {
  margin-top: 200px;
}

.login-inputs {
  display: flex;
  align-items: baseline;

  input {
    width: 368px;
    margin-bottom: 15px;
  }
  
  .input-req {
    width: 351px;
  }
}

.login-button {
  width: 180px;
  padding: 9px 19px;
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  background-color: #52a6fa;
  border-color: #0285fc;
  color: #fff;

  &:hover {
      background-color: #0285fc;
  }
}

.back-button {
  width: 180px;
  padding: 9px 19px;
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  background-color: #dc3545;
  border-color: #be2c3a;
  color: #fff;

  &:hover {
    background-color: #be2c3a;
  }
}

.choose-window {
  margin: 0 auto;
  width: 300px;
  display: flex;
  padding: 15px;
  flex-direction: column;

  .choose-button {
    padding: 20px;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    margin: 25px 0px;
    color: #fff;
  }
  .choose-new-team {
    background-color: #2aa645;
    border-color: #28843a;
    &:hover {
      background-color: #28843a;
    }
  }
  .choose-join-team {
    background-color: #52a6fa;
    border-color: #0285fc;
    &:hover {
      background-color: #0285fc;
    }
  }
  .choose-back {
    background-color: #dc3545;
    border-color: #be2c3a;
    &:hover {
      background-color: #be2c3a;
    }
  }
}

.login-window {
  margin: 0 auto;
  width: 400px;
  border: 1px solid #aaa;
  display: flex;
  padding: 15px;
  flex-direction: column;
}

.req-input {
  margin: 0px 0px 0px 10px;
  color: #be2c3a;
}
.req-text {
  color: #be2c3a;
  display: flex;
  font-size: 10px;
  flex-direction: row-reverse;
  padding-bottom: 10px;
  margin-top: -5px;
}

.login-button-row {
  display: flex;
  justify-content: space-between;
}

.error-message {
  background-color: $pippin;
  margin: 15px 0px;
  padding: 5px 10px;
  color: $punch;
  font-size: 12px;
  border-radius: 5px;
  border: 1px solid $punch;
}

.success-message {
  background-color: #ade3c3;
  margin: 15px 0px;
  padding: 5px 10px;
  color: green;
  font-size: 12px;
  border-radius: 5px;
  border: 1px solid green;
}

.disabled {
  background-color: #aaa;
  border-color: grey;

  &:hover {
    background-color: #aaa;
    border-color: grey;
    cursor: not-allowed;
  }
}
