.category {
  &-horizontal {
    border-bottom: 1px solid #ccc;
    .challengeRowCol {
      .horizontal {
        flex-direction: row;
        display: flex;
        align-items: center;
      }
    }
  }
  &-vertical .challengeRowCol { 
    margin-top: 60px;   
    .vertical {
      flex-direction: column;
      display: flex;
      align-items: center;
    }
  }
}

.challengeCategory {
  min-width: 150px;
}


.post-vertical {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}

.post-horizontal {
  display: flex;
  align-items: center;
  padding-top: 100px !important;
}