.topbar {
	display: flex;
	flex: 0 1 auto;
	align-items: center;
	padding: 0 24px;
	width: 100%;
	height: 60px;
	background: transparent;
  position: absolute;
  z-index: 2;
  .button {
    color: rgba(#000, .5);
    font-weight: 600;
    &:hover {
    	color: rgba(#000, 1);
    }
  }
}