.instructions {
  padding: 20px;
  line-height: 28px;

  h2 {
    font-weight: 900;
    font-size: 2.3em;
    color: #fff;
    text-align:center;
  }

  code {
    font-family: monospace, Courier-New;
    background-color: $swamp;
    color: $confetti;
    padding: 2px 5px;
  }

  a {
    color: $faded-jade;
    font-size: 14px;
  }

  .instruction-heading {
    padding: 20px 0px 0px;
    font-weight: 600;
    font-size: 1.5em;
    color: $white;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
  }

  .instruction-sub-heading {
    font-size: 1.25em;
    font-weight: 600;
    padding: 20px 0px 3px;
    color: white;
  }

  p {
    font-size: 14px;
  }
}