*~
*.db
*.pyc
*.sqlite3
*.idea
node_modules/
dist/
server/challenges.json
server/teams.json
**/migrations/
!0001_initial.py
server/media/
.vscode
*.code-workspace
portainer/portainer.key
portainer/portainer.pub
portainer/config.json
.env.dev
.env.prod
.env.prod.db
letsencrypt/
