.login-container {
  border: 1px solid #ddd;
  padding: 10px 30px 20px;
  margin-top: 20vh;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.login-input {
  margin: 10px 0px;
}

.button-row {
  display: flex;
  justify-content: space-between;
  button {
    min-width: 45%;
  }
}