{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid">
        <a class="btn btn-outline-primary mb-3" href="{% url 'team_new' %}" role="button">Create Team</a>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">User Count</th>
                    <th scope="col">Token</th>
                    <th scope="col">Points</th>
                </tr>
            </thead>
            <tbody>
                {% for team in teams %}
                    <tr>
                        <th scope="row"><a href="{% url 'team_detail' pk=team.pk %}">{{ team.pk }}</a></th>
                        <td>{{ team.name }}</td>
                        <td>{{ team.users.count }}</td>
                        <td>{{ team.token }}</td>
                        <td>{{ team.points }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}