.category {
  &-horizontal {
    border-bottom: 1px solid #ccc;
    .challengeRowCol {
      .horizontal {
        flex-direction: row;
        display: flex;
        align-items: center;
      }
    }
  }
  &-vertical .challengeRowCol { 
    margin-top: 60px;   
    .vertical {
      flex-direction: column;
      display: flex;
      align-items: center;
    }
  }
}

.challengeCategory {
  min-width: 150px;
}


.post-vertical {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}

.post-horizontal {
  display: flex;
  align-items: center;
  padding-top: 100px !important;
}

.legend {
  width: 100%;
  align-items: center;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  .solved-key {
    background-color: green;
    width: 30px;
    height: 20px;
    display: inline-block;
    margin-right: 5px;
  }
  .unsolved-key {
    background-color: blue;
    width: 30px;
    height: 20px;
    display: inline-block;
    margin: 0px 5px 0px 15px;
  }
}
