.page {
	background: #fff;
}

.page-header {
  font-size: 32px;
  font-weight: 100;
  margin: 40px 0px 20px;
  font-family: sans-serif;
}


.temp-section {
  background: #f3f3f3f3;
  padding: 20px;
  margin-bottom: 30px;
}

.temp-header {
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid #e3e3e3;
}

.temp-form {
  width: 80%;
  margin: 0 auto;
}

.temp-form * {
  box-sizing: border-box;
}

.temp-flex {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;

  li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    label {
      padding: 8px;
      font-weight: 300;
      letter-spacing: 0.09em;
      text-transform: uppercase;
    }

    input, textarea, select {
      padding: 15px;
      border: none;
      background-color: white;
    }
  }

  &> li:not(:last-child) {
    margin-bottom: 20px;
  }

  &> li > label {
    flex: 1 0 120px;
    max-width: 220px;
  }
}

.temp-flex > li > label + * {
  flex: 1 0 220px;
}

.temp-flex li button {
  margin-left: auto;
  padding: 8px 16px;
  border: none;
  background: #333;
  color: #f2f2f2;
  text-transform: uppercase;
  letter-spacing: .09em;
  border-radius: 2px;
}