{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid">
        <a class="btn btn-outline-primary mb-3 mt-3" href="{% url 'team_list' %}" role="button">Back</a>
        <a class="btn btn-outline-primary mb-3 mt-3" href="{% url 'team_edit' pk=team.pk %}" role="button">Edit</a>
        <a class="btn btn-outline-primary mb-3 mt-3" href="{% url 'team_delete' pk=team.pk %}" role="button">Delete</a>
        <dl class="row">
            <dt class="col-sm-3">Name: </dt>
            <dd class="col-sm-9">{{ team.name }}</dd>
          
            <dt class="col-sm-3">Token: </dt>
            <dd class="col-sm-9">{{ team.token }}</dd>
          
            <dt class="col-sm-3">Points: </dt>
            <dd class="col-sm-9">{{ team.points }}</dd>

            <dt class="col-sm-3">Hidden: </dt>
            <dd class="col-sm-9">{{ team.hidden }}</dd>

            <dt class="col-sm-3">Correct Flags: </dt>
            <dd class="col-sm-9">{{ team.correct_flags }}</dd>

            <dt class="col-sm-3">Wrong Flags: </dt>
            <dd class="col-sm-9">{{ team.wrong_flags }}</dd>

            <dt class="col-sm-3">Solved: </dt>
            <dd class="col-sm-9">{{ team.solved }}</dd>

        </dl>
    </div>
{% endblock %}