Django==2.2.10
django-cors-headers==2.4.0
django-filter==2.0.0
dockerfile-parse==0.0.15
graphene==2.1.3
graphene-django==2.2.0
graphene-file-upload==1.2.2
rethinkdb==2.3.0.post6
docker==7.1.0
psycopg2==2.8.4