{% extends 'base.html' %}

{% block content %}
 
  <form method="POST">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="form-row">
      <div class="fieldWrapper form-group col">
        {{ form.name.errors }}
        <label for="{{ form.name.id_for_label }}">Name:</label>
        {{ form.name }}
      </div>
    </div>
    
    <div class="form-row">
      <div class="fieldWrapper form-group col">
        {{ form.challenge.errors }}
        <label for="{{ form.challenge.id_for_label }}">Challenge:</label>
        {{ form.challenge }}
      </div>
    </div>

    <div class="form-row">
      <div class="fieldWrapper form-group col">
        {{ form.user.errors }}
        <label for="{{ form.user.id_for_label }}">User:</label>
        {{ form.user }}
      </div>
    </div>
   
    <button type="submit" class="btn btn-outline-primary">Save</button>
  </form>

{% endblock %}