/* 
    themes/colors is colors that can be modified (phase 3 probably)
    names chosen from http://chir.ag/projects/name-that-color/  
*/

$current-color: currentColor;

/* blues */

$cornflower-blue: #52a6fa;
$azure-radiance: #0285fc;
$royal-blue: #2638ED;
$picton-blue: #2689ED;
$cornflower: #96C2ED;
$blizzard-blue: #96E3ED;

/* greens */

$magic-mint: #99EAC3;
$granny-smith-apple: #99EA9F;
$yellow-green: #C5EA99;
$la-palma: #14af12;

/* purples and pinks */

$electric-violet: #5E26ED;
$eminence: #6B2682;
$plum: #E73244;

/* reds and oranges */

$pippin: #ffe2e7;
$punch: #DE3B2B;
$alizarin-crimson: #ED262F;
$jaffa: #EF7948;
$cinnabar: #E75532;
$amarath: #E73244;

/* whites and blacks */

$black: #000;
$black-forest: #1A1A1A;
$gray-darkest: #25282A;
$gray: #7F8283;
$dusty-gray: #929292;
$white: #FFF;
$ghost: transparent;

/* greys - lightest to darkest */

$wild-sand: #F6F6F6;
$concrete: #F2F2F2;
$alto: #CFCFCF;
$silver: #CCCCCC;
$dove-gray: #666666;
$mine-shaft: #333333;

/*// Primary Colors*/

.dark-original-color {
  background-color: $current-color;
  background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%);
}

.muted-original-color {
  background-color: $current-color;
  -webkit-filter: grayscale(50%);
  filter: grayscale(50%);
}

.original-color {
  background-color: $current-color;
}

.light-original-color {
  background-color: $current-color;
  -webkit-filter: opacity(.7);
  filter: opacity(.7);
}

.bright-original-color {
  background-color: $current-color;
  -webkit-filter: brightness(2);
  filter: brightness(2);
}

.adjusted-color-90 {
  background-color: $current-color;
  -webkit-filter: hue-rotate(90deg);
  filter: hue-rotate(90deg);
}

.adjusted-color-60 {
  background-color: $current-color;
  -webkit-filter: hue-rotate(60deg);
  filter: hue-rotate(60deg);
}

.adjusted-color-30 {
  background-color: $current-color;
  -webkit-filter: hue-rotate(30deg);
  filter: hue-rotate(30deg);
}

.contrast-original-color {
  background-color: $current-color;
  -webkit-filter: contrast(2);
  filter: contrast(2);
}

.highlight-color {
  background-color: $current-color;
  -webkit-filter: invert(1);
  filter: invert(1);
}