
/* 
    themes/colors is colors that can be modified (phase 3 probably)
    names chosen from http://chir.ag/projects/name-that-color/  
*/


/* blues */
$cornflower-blue:					#52a6fa;
$azure-radiance:					#0285fc;
$royal-blue:						#2638ED;
$picton-blue:						#2689ED;
$cornflower:						#96C2ED;
$blizzard-blue:						#96E3ED;

/* greens */
$magic-mint:						#99EAC3;
$granny-smith-apple:				#99EA9F;
$yellow-green:						#C5EA99;
$la-palma:							#14af12;


/* purples */
$electric-violet:					#5E26ED;
$plum:								#E73244;
$eminence:							#6B2682;


/* reds and oranges */
$pippin:							#ffe2e7;
$punch:								#DE3B2B;
$alizarin-crimson:					#ED262F;
$jaffa:								#EF7948;
$cinnabar:							#E75532;
$amarath:							#E73244;





/* whites and blacks */
$black :                  			#000;
$black-forest:            			#1A1A1A;
$gray-darkest:            			#25282A;
$gray:                    			#7F8283;
$dusty-gray:              			#929292;
$white:                   			#FFF;
$ghost:                   			transparent;




/* greys - lightest to darkest */
$wild-sand:               			#F6F6F6;
$concrete:                			#F2F2F2;
$alto:                    			#CFCFCF;
$silver:                  			#CCCCCC;
$dove-gray:			      			#666666;
$mine-shaft:              			#333333;
