{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>CTF Admin</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="{% static 'style/admin.css' %}">
</head>

  <body>
    <div>
        <h1><a href="{% url 'admin_panel' %}">CTF Admin</a></h1>
    </div>
    <div class="container">
      <div class="row">
        <a href="{% url 'challenge_list' %}">Challenges</a>
      </div>
      <div class="row">
          <div class="col-md-8">
            {% block content %}
            {% endblock %}
          </div>
      </div>
    </div>

</body>
</html>